<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">


    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".AgriSightApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SPIM" >
        
        <!-- Mapbox API Key -->
        <meta-data
            android:name="com.mapbox.token"
            android:value="pk.eyJ1Ijoib3Rha3Vjb2RlcjAyNCIsImEiOiJjbWg3bnk1ZW8wMGQwMmpxdTc1eXRvMzdpIn0.Go0yQY1JdBoV-YHj0jwBwQ" />
        
        <!-- Welcome Activity (Launcher) -->
        <activity
            android:name=".WelcomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- Main Navigation Activity -->
        <activity
            android:name=".MainNavActivity"
            android:exported="false" />
            
        <!-- Help Activity -->
        <activity
            android:name=".help.HelpActivity"
            android:exported="false" />

        <!-- Legacy Main Activity (for backward compatibility) -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>